<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @midleme.location_id %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @midleme.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @midleme.longitude %>
</p>



<%= link_to 'Edit', edit_midleme_path(@midleme) %> |
<%= link_to 'Back', midlemes_path %>
